
.header {
    display: flex;
    box-shadow: 0 5px 0 rgba(12,13,14,0.1), 1px 2px 6px rgba(44, 5, 136, 0.1);
    /* top: -2.5%; */
    border-top: 5px #0096fa;
    height: 3.5em;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
    z-index: 99;
    position: fixed;
}

#searchSubmit {
    font-family: FontAwesome;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid grey;
    height: 2.5em;
    width: 2.5em;
    font-size: 1em;
    margin-top: 0.5em;
    border-left: 0px;
    
}

#locationInput {
    /* font-family: Helvetica; */
    border-radius: 5px 0px 0px 5px;
    border: 1px solid grey;
    height: 2.5em;
    width: 70%;
    padding-left: 0.5em;
    /* margin-top: 0.45em; */
}

#web-title{
    text-align: left;
    padding-top:0.25em;
    padding-left: 1em;
    padding-right: 3em;
}

#location-form {
    position: relative;
}

#user-settings {
    text-align: right;
}

.flex{
    flex: 1 1 0px;
}